.row-fluid
	.span12{:style => 'font-family: "Proxima Nova",Helvetica,sans-serf;font-size: 22px; line-height:35px;'}
		%p As 2012 begins to wind down, we know many of you are already looking ahead on the calendar for all that 2013 will bring. In fact, you’ve probably already thinking about your goals, both personal and professional. At SproutVideo, we may not be able to help you lose that extra ten pounds or quit smoking but we can definitely assist you in improving your business marketing strategy starting right now. Oh, and there’s potentially $600 in it for you, too. Interested?
 
		%p We’ve come up with a little contest to inspire you to think of all the ways you can use video to engage with your current clients and attract new ones; it’s called #SproutResolutions.
 
		%p For the next four weeks, we invite you to create and share with us a 1-5 minute video explaining why you think video is important for your business and how you intend to use more of it in 2013 to meet your New Year’s business resolutions. Then, “share” the heck out of that video using the hash tag #SproutResolutions and have your friends, family, clients, fans, and followers vote for you to win a free subscription for a year on our site! There are also great prizes for second and third place. Plus, you will have the option of having your business featured quarterly on our site as we check in with you to see just how your Sprout Resolution is progressing. Free money and free publicity- That’s just how we roll.
 
		%p We're pretty big on democracy around here so the company with the most votes wins. We've made the voting process transparent with our "leader board" which makes it easy for you to keep track of where you stand in the competition. We will be showcasing all submitted videos on our site and our social media platforms so even if you don’t win, you’ll still get more exposure than you would if you didn’t enter. How’s that for a no-brainer? We can’t wait to see your videos and encourage you to contact us with any questions you may have.
 
		%p 
			%b WHEN
			\: Submission Period - 9:00 AM, Tuesday, January 1st - 5:00 PM, Thursday, January 31st 2013. The voting period will end Friday, February 15th, 2013 
			The winner will be announced on Friday February 22nd, 2013.
		%p
			%b Rules:
			=link_to('Read the contest rules.', rules_path)
