%style
	li {margin-bottom:20px}
	dd {margin-bottom:20px}
.row-fluid
	.span12{:style => 'font-family: "Proxima Nova",Helvetica,sans-serf;font-size: 22px; line-height:35px;'}
		.header-bar
			%span Submission Rules
		%ul
			%li This is an internet competition without geographic boundaries.  No companies are restricted from consideration. There are no fees to submit an entry for consideration.

			%li Only one submission per company will be considered.

			%li You permit SproutVideo to publish your videos on the #SproutResolutions event site.

			%li You are solely responsible for any footage, photos or music in your produced video and responsible for legal repercussions, and SproutVideo is in no way responsible for any legal ramifications.

			%li You understand that SproutVideo does not guarantee any confidentiality with respect to any video content you submit. You affirm, represent, and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish the video content you submit.

			%li For clarity, you retain all of your ownership rights in your Content. However, by submitting your video to the contest, you hereby grant SproutVideo a worldwide, non-exclusive, royalty-free, license to use, reproduce, distribute, prepare derivative works of, display, and perform the video content in connection with the SproutVideo service.

		.header-bar
			%span Voting Rules
		%ul
			%li Once voting has opened, everyone is invited to vote an entry for award consideration. Each person is invited to vote one submission for consideration per IP address per day.

			%li The #SproutResolutions Committee will select the top three  companies based on the quantity, quality and breadth of votes received.

			%li Everyone is invited to vote for their favorite #SproutResolutions winners. One ballot per IP address per day will be counted in the final vote. The #SproutResolutions Committee reserves the right to discard any and all votes that it reasonably determines to be fraudulent or submitted by bots or other computer-generated voting applications. There are no fees to vote.

		.header-bar
			%span Prizes
		%dl.dl-horizontal
			%dt Grand Prize:
			%dd $600.00 SproutVideo account credit (The equivlient of one year of service on the Tree plan.)
			%dt 2nd place:
			%dd $300.00 SproutVideo account credit (The equivlient of six months of service on the Tree plan.)
			%dt 3rd place:
			%dd $150.00 SproutVideo account credit (The equivlient of three months of service on the Tree plan.)

		.header-bar
			%span Winners
		%p The final winners will be determined based on the popular votes received through website voting and the #SproutResolutions Committee. The winners will be announced Friday February 22nd, 2013 on our blog.