/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'bootstrap.min'
 *= require 'bootstrap-responsive.min'
 *= require_self
 *= require_tree .
 */
 body {
 	background-image: url(http://subtlepatterns.com/patterns/crisp_paper_ruffles.png);
 }
.video-wrapper {
  width: 100%;
  position: relative;
  padding: 0; }
  .video-wrapper iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute; }
.footer {
  margin-bottom: 10px;
}
.footer img {
	-moz-box-shadow: 0 0 15px #888;
	-webkit-box-shadow: 0 0 15px#888;
	box-shadow: 0 0 15px #888;
}
a.thumbnail {
	position: relative;
}
a.thumbnail span.play {
    background: url(/assets/thumbnail_play.png) no-repeat 0 0;
    display: block;
    height: 42px;
    left: 50%;
    margin: -21px 0 0 -28px;
    position: absolute;
    top: 50%;
    width: 55px; }
    a.thumbnail:hover span.play {
    background: url(/assets/thumbnail_play.png) no-repeat 0 -42px; }

    .drop-target {
  padding-top: 50px;
  padding-bottom: 50px; 
text-align: center;}

.drag-over {
  background-color: #cccccc;
  color: white; }

.drop-text {
  border: 1px dotted #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  color: #999999;
  margin-top: 10px; }

.upload-button-box {
  position: relative;
  width: 300px;
  margin: 0 auto;
  overflow: hidden; }
  .upload-button-box .input-box {
    overflow: hidden;
    width: 294px;}
    .upload-button-box .input-box input {
      opacity: 0;
      position: absolute;
      right: 0px;
      top: 0px; }
.overall-progress {
  margin-bottom: 15px; }

.info {
  overflow: hidden;
  margin-bottom: 10px; }
  .info div {
    text-shadow: 1px 1px 1px #cccccc;
    text-align: center;
    float: left;
    width: 150px;
    padding: 20px 10px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
    .info div h3 {
      font-size: 1.5em;
      text-transform: none; }
    .info div span {
      margin: 0;
      padding: 0; }

.speed {
  margin-right: 25px; }

.time-left {
  margin-right: 25px; }
/* Carousel base class */
    .carousel {
     margin-bottom: 0;
     /*-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    }

    .carousel .container {
      position: relative;
      z-index: 10;
    }

    .carousel video {
      position: absolute;
      right: 0;
      z-index: 1;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
      height: 544px;
    }
    .carousel img.background {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 1500px;

    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }